<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<custom_bar>
			<general>
				<enable/>
				<bar_text><![CDATA[Wdevs_CustomBar: Hello Developer! This is for testing task.]]></bar_text>
			</general>
		</custom_bar>
	</default>
</config>
